.content-progress-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  margin: 0;
  background-color: #ccc;
  height: 4px;
  width: 100%;
}

.progress-loader {
  width: 0%;
  height: 100%;
  background: #c00;
  animation: expand 2s ease-in-out forwards;
}

@-moz-keyframes expand {
  to {
    width: 100%;
  }
}

@-webkit-keyframes expand {
  to {
    width: 100%;
  }
}

@-ms-keyframes expand {
  to {
    width: 100%;
  }
}

@keyframes expand {
  to {
    width: 100%;
  }
}
.hidden-content-progress-loader {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s ease-in-out;
}
